.newsCardsContainer {
  display: flex;
  justify-content: space-between;
  padding: 5em 10em;
}

.newsCard {
  width: 45%;
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Herda a cor do texto do elemento pai */
}

.newsCard__img {
  position: relative;
  height: 600px; /* Defina a altura que você deseja para as imagens aqui */
  overflow: hidden;
}

.newsCard__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsCard__content {
  padding: 0em 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Isso faz com que o conteúdo do texto cubra apenas 40% da imagem */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

.newsCard__content h2 {
  font-size: 1.59rem;
  line-height: 1.5rem;
}

.newsCard__text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.newsCard__cta  {
  color: #fff;
  display: flex;
  justify-content: center;
}

.newsCard__cta .btn {
  background-color: inherit;
  transition: ease-in 0.3s;
}

.newsCard__cta .btn:hover {
  color: #fff;
}



@media (max-width: 768px) {
  .newsCardsContainer {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .newsCard {
    width: 50%;
  }

  .newsCard__img {
    position: relative;
    height: 300px; /* Defina a altura que você deseja para as imagens aqui */
    overflow: hidden;
  }
}
